body {
	margin: 0px; /* Removes white space along page margin */ 
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.75em;
}

/* Links - Must be above navigation*/
a:link, a:visited {
	text-decoration: none;
	color: #337ab7;
}

a:hover {
	text-decoration: underline;
}

/* Navigation Bar */
.navbar {
	background: #ffffff;
	z-index: 1;
	position: fixed;
	top: 0px;  
	left: 0px; 
	right: 0px; 
}

.nav-container {
	width: 89% /*75%*/; 
	margin: auto;
	overflow: hidden; 
}

.nav-container a.left { /* Home link */
	float: left; 
	padding: 19px 20px; 
	color: #ff571a; /* red-orange for Home button */
	text-decoration: none; 
	text-transform: uppercase; 
	font-size: larger; 
}

.nav-container a { /* About, Resume, and Gallery links */ 
	float: right;
	display: block; 
	text-align: center;
	color: black;  
	font-weight: bold; 
	text-decoration: none; 
	text-transform: uppercase;  
	padding: 19px 20px;
	font-size: smaller;
}

.nav-container a:hover {
	background-color: #ff7c4d; /* Peach colored box on hover */
	color: white; 
}

/* Hero Image */ 
#showcase {
	background: url("media/IMG_8911.JPG") 100% no-repeat;
	height: 800px;
	background-size: cover;
	background-color: #C0C0C0;
	background-position: center;
	position: relative;
}

.home-text {
	text-align: center;
	text-transform: uppercase; 
	color: white;
	position: absolute;
	top: 30%;
	margin: auto;
	width:50%;
}

.home-text h1.home-title {
	font-size: 2.75em;
	font-weight: bold;
	margin: 0px;
	line-height: 1.25em;
}

.home-text p.home-sub-title {
	font-size: 1.1em;
	margin:0px;
}

.header-divider { /* Subdivider bar on hero image */ 
	width: 80px; 
	height: 3px; 
	background-color: white; 
	margin: auto; 
	text-align: center;
	margin-bottom: 15px; 
}

/* Responsive */ 
@media screen and (max-width: 768px) {
	.home-text h1.home-title {
		font-size: 1.50em;
		line-height: 1.25em;
	}
	
	.home-text p.home-sub-title {
	font-size: 0.85em;
	}
	
	.navigation-container {
	width: 100%;
	}
	
	.navigation-container a.left {
	float: none; 
	width: 100%;
	padding: 2px 0px;
	}
	
	.navigation-container a {
	float: center;
	width: 100%;
	padding: 0px 0px;
	}
}




.research-header-container {
	width: 100%;
	background: #ff571a url("media/siesta.jpg") 100% no-repeat;
	background-size: cover; 
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	height: 120px; /* or 210px */
	position: relative;
	top: 50px;
}

.resume-header-container {
	width: 100%;
	background: #ff571a url("media/Edinburgh.jpg") 100% no-repeat;
	background-size: cover; 
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	height: 120px; /* or 210px */
	position: relative;
	top: 50px;
}

.about-header-container { 
	width: 100%;
	background: #ff571a url("media/Wellesley.jpg") 100% no-repeat;
	background-size: cover; 
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	height: 120px; /* or 210px */
	position: relative;
	top: 50px;
}

/*
.header-content {
	width: 90%;
}
*/

.about_headshot {
	float: right; 
	max-width: 33%;
	height: auto;
	margin: auto;
	margin-left: 30px;
	margin-bottom: 5px;
}


/* Content */
.content-container {
	width: 85%;
	margin: 100px auto 100px;
}
.content {
	margin-top: 40px;
	margin-bottom: 40px;
}

.home-title {
	padding-bottom: 10px;
	padding-top: 10px;
}

.content-title {
	margin-bottom: 0px;
}

figure img {
	
	float: right;
	width: 330px;
	margin-left: 15px;
	text-align: center;
}

figure {
	float: right; 	
	width: 330px; 
	margin-left: 20px; 
	text-align: center;
	caption-side: bottom;
	font-size: smaller;
}

.resume-content-title {
	margin-top: 40px;
	margin-bottom: 16px;
}

#Ruhlman_picture {
	padding-top: 3%;
	margin: auto;
	float: none;
	width: 100%; 
	text-align: center;
	caption-side: bottom;
	font-size: smaller;
}

#Ruhlman_picture img {
	width: 100%;
	text-align: center;

}


/* Formatting for iFrame Resume/ CV
.resume-content-container {
	width: 85%;
	margin: 80px auto 60px; 
}

.iframe-container {
	overflow: hidden;
	padding-top: 65%;
	position: relative;
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	left: 0; 
	position: absolute;
	top:0;
	width: 100%;
	width: 1px;
	min-width: 100%; 
}

*/

/* Footer */
.footer-container {
	width: 100%; 
	background: #ff571a;
	color: white;
	height: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	position: relative;
	text-align: center;
	line-height: 1.25em;
}

.footer-title {
	margin: 0px;
	font-size: 1em;
}

.footer-contact {
	font-size: 0.75em;
	margin: 8px;
}






